@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
  --color-primary: #10B981;
  --color-primary-dark: #059669;
  --color-primary-light: #D1FAE5;
  --font-family-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

:root {
  font-family: var(--font-family-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  cursor: pointer;
}